
/*==NAVIGATION BAR==*/

*{
    padding: 0;
    margin: 0;
}
#FPul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navigation-Bar{
    overflow: hidden;
    background-color: darkcyan;
}

.Navigation-Bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Navigation-Bar a:hover {
    background-color: darkgrey;
    color: white;
}

.Navigation-Bar a.active {
    background-color: cyan;
    color: white;
}

.Navigation-Bar .icon {
    display: none;
}

/*==First Page UI==*/
.First-Page{
    background: powderblue;
    width: 100%;
    height: 100vh;
}
#FPul2{
    width: 100%;
    height: 91vh;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
}

div.content1{
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 50%;
    right: 0;
    margin: auto;
}

#FimgMe{
    position: absolute;
    width: 300px;
    height: 450px;
    top: 55px;
    left: 120px;
    border: 5px solid darkcyan;
    box-shadow: 5px 5px 5px 0px black;
}

#FSubTag{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-shadow: 5px 5px 5px cyan;
    position: relative;
    top: -250px;
    left: 500px;
}

#FSubTag2{
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    color: #00755e ;
    text-shadow: 5px 5px 5px dimgrey;
    position: relative;
    top: -200px;
    left: 550px;
}


/*===Second Page===*/
.Second-Page{
    background: lightgrey;
    width: 100%;
    height: 100vh;
}
#SPUI1{
    width: 86.5%;
    height: 86.5%;
    position: relative;
    top: 0px;
    bottom: 0;
    left: 70px;
    right: 0;
    margin: auto;
}

.transparent{
    width: 100%;
    height: 100vh;
    background-color: rgba(100,100,100,0.6);
    position: absolute;
    top: 525px;
}
/*

#SPMainTag{
    color: rgba(100,100,100,0.9);
    position: absolute;
    left: 350px;
    right: 100px;
    font-size: xxx-large;
    top: 20px;
    text-shadow:5px 5px 5px black ;
}
*/



.transparent>h2{
    position: relative;
    left: 100px;
    font-size: 8vw;
    color: gray;
    -webkit-text-stroke: 0.3vw darkslategrey;
    text-transform: uppercase;
}
#SPMainTag::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 100%;
    color: cyan;
    -webkit-text-stroke: 0vw gray;
    border-right:2px solid white ;
    overflow: hidden;
    animation: animate1 6s linear infinite;
}
@keyframes animate1 {
    0%,10%,100%
    {
        width: 0;
    }
      30%,50%, 70%,90%{
        width: 100%;
    }
}

.transparent2{
    width: 60%;
    height: 58%;
    position: absolute;
    top: 130px;
    left: 400px;
    color: lightgrey;
    box-shadow: 5px 5px 5px 0px black;
    background-color: rgba(100,100,100,10.7) /*lightgrey*/;
    border: 2px solid cyan;
}

.aboutme{
    position: relative;
    font-size: x-large;
    width: 100%;
}
#aboutmyimg{
    position: relative;
    top: 20px;
    left: 30px;
    width: 26%;
    height: 70%;
    box-shadow: 0px 0px 5px 2px #000;
    border: 2px solid darkcyan;
}

.cvbtn{
    width: 12%;
    height: 9%;
    left: 200px;
    right: 10px;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    background-color: darkcyan;
    position: relative;
    /*top: -80px;*/
    bottom: -20px;
    cursor: pointer;
}


.learnMorebtn{
    width: 12%;
    height: 9%;
    left: 300px;
    right: 10px;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    background-color: gray;
    color: lightblue;
    position: relative;
    cursor: pointer;
    /*top: -80px;*/
    bottom: -20px;
}
.learnMorebtn:hover{
    background-color: darkcyan;
}
.cvbtn:hover{
    background-color: cyan;
}
/*
.card{
    left: 20px;
    width: 30%;
    height: 72%;
    background-color: gray;
    position: relative;
    box-shadow: 0px 0px 5px 2px #000;
    cursor: pointer;
}
.card::before{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(-280deg);
    width: 100%;
    height: 90%;
    background-image: conic-gradient(#ff00bb 0deg, #ff00bb 90deg,transparent 130deg,transparent 180deg, #4530ff 180deg ,#4530ff 270deg, transparent 310deg, transparent 360deg);
    transition: transform 2s;
}
.card:hover::before{
    transform: translate(-50% ,-50%) rotate(-100deg);
}
*/

/*============ThirdPage(EDUCATION)===============*/

.Third-Page{
    width: 100%;
    height: 100vh;
    background-color: #43b3ae ;
}
.thirdTransparent{
    width: 100%;
    height: 100vh;
    position: relative;
    /*background-color: rgba(100,100,100,0.5);*/
}
#educationMain{
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    position: relative;
    left: 370px;
    text-shadow: 5px 5px 5px gainsboro;
    top: 10px;
}
.eduImg{
    width: 10%;
    height: 20%;
    box-shadow: 0px 0px 5px 2px #000;
    border: 2px solid black;
}
.eduImg:hover{
    border: 2px solid cyan;

}
#imgA{
    position: relative;
    top: 30px;
    left: 80px;
}
#imgB{
    position: relative;
    top: 120px;
    left: 740px;
    right:20px ;

}
#imgC{
    position: absolute;
    top: 280px;
    left: 80px;
}
#imgD{
    position: absolute;
    top: 370px;
    left: 860px;
}
.contentThird{
    position: relative;
}
.contentThird h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: -30px;
    left: 450px;
    text-shadow: 5px 5px 5px dimgray;
    font-size: x-large;
}
.contentThird h1:nth-child(1){
    color: midnightblue;
    -webkit-text-stroke: 2px black;
}
.contentThird h1:nth-child(2){
    color: deepskyblue;
    animation: animate 4s ease-in-out infinite;
}


.contentThird1{
    position: relative;
}
.contentThird1 h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60px;
    left: 550px;
    text-shadow: 5px 5px 5px black;
    font-size: x-large;
}
.contentThird1 h1:nth-child(1){
    color: green;
    -webkit-text-stroke: 2px black;
}
.contentThird1 h1:nth-child(2){
    color: yellowgreen;
    animation: animate 4s ease-in-out infinite;
}


.contentThird2{
    position: relative;
}
.contentThird2 h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 160px;
    left: 460px;
    text-shadow: 5px 5px 5px black;
    font-size: x-large;
}
.contentThird2 h1:nth-child(1){
    color: blue;
    -webkit-text-stroke: 2px black;
}
.contentThird2 h1:nth-child(2){
    color: red;
    animation: animate 4s ease-in-out infinite;
}


.contentThird3{
    position: relative;
}
.contentThird3 h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 260px;
    left: 550px;
    text-shadow: 5px 5px 5px black;
    font-size: x-large;
}
.contentThird3 h1:nth-child(1){
    color: white;
    -webkit-text-stroke: 2px black;
}
.contentThird3 h1:nth-child(2){
    color: red;
    animation: animate 4s ease-in-out infinite;
}




@keyframes animate {
    0%,100%{
        clip-path: polygon(0% 51%, 12% 48%, 28% 50%, 41% 51%, 50% 58%, 63% 65%, 77% 68%,
        88% 68%, 99% 68%, 99% 100%, 1% 100%);
    }
    50%{
        clip-path: polygon(99% 50%, 86% 51%, 72% 47%, 59% 49%, 49% 56%, 34% 64%,
        19% 68%, 6% 69%, 1% 68%, 1% 100%, 100% 100%);
    }
}
/*=====================*/


/*===Fourth Page(Skills)===*/


.Fourth-Page{
    width: 100%;
    height: 100vh;
}

#FPimg1{
    width: 100%;
    height: 100vh;
    position: relative;
}
#FMainText{
    color: Black;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    left: 450px;
    text-shadow: 5px 5px 5px gainsboro;
    top:-500px;
}

/*////////////*/

#wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 250px;
    top: -500px;
    gap: 1rem;
    max-width: calc(12rem * 3 + 2rem)
}
#wrap:hover > .tile::after {
    opacity: 1;
}
.tile {
    position: relative;
    width: 12rem;
    height: 12rem;
    background-color: rgba(200, 255, 200, 0.1);
    border-radius: .5rem;
    inset: 1px;
}
.tile::before,
.tile::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}
.tile::before {
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.02),
            transparent 40%
    );
    z-index: 3;
}
.tile::after {
    background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%
    );
    z-index: 1;
}
.tile:hover::before {
    opacity: 1;
    background-color: rgba(100,100,100,0.5);
}
span {
    display: inline-block;
    position: absolute;
    inset: 1px;
    background-color: darkslategrey;
    border-radius: inherit;
}

#iconOne{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}

#iconTwo{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}
#iconThree{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}
#iconFour{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}
#iconFive{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}
#iconSix{
    position: relative;
    width: 60px;
    height: 60px;
    left: 60px;
    top: 20px;
}

.p{
    position: relative;
    font-size: small;
    color: white;
    left: 5px;
    right: 5px;
    top: 20px;
}

/*==================Fifth Page==================*/
.Fifth-Page{
    width: 100%;
    height: 100vh;
    background-color: darkslategrey ;
}
.projects{
    color: black;
    font-size: 50px;
    position: relative;
    text-shadow: 5px 5px 5px white;
    left: 400px;
    top: 20px;
}


.project-list{
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), cyan);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start ;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
}


.layer a{
    margin-top: 20px;
    color: cyan;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

/*==============sixth-page================*/

.sixth-Page{
    width: 100%;
    height: 100vh;
    background-color: dimgrey;
}

.Contact{
    font-size: 45px;
    position: relative;
    left: 300px;
    color: black;
    top: 30px;
    text-shadow: 5px 5px 5px white;
}


/*#email{
    position: relative;
    color: black;
    font-weight: bold;
    font-size: larger;
    top: 70px;
    left: 30px;
    grid-column-gap: 20px;
}*/

 .lead{
     position: relative;
     top: 70px;
    padding: 0.5rem;
     left: 30px;
     font-weight: bold;
     font-size: larger;
}

.contact-left form{
    margin-top: 5px;
}
form .form-control{

    border: 2px solid rgba(0,0,0,0.3);
    width: 40%;
    height: 7vh;
    left: 20px;
    position: relative;
    top: 120px;
}
.form-message{
    border: 2px solid rgba(0,0,0,0.3);
    width: 40%;
    height: 13vh;
    left: -420px;
    position: relative;
    top: 200px;
}


.form-message::placeholder{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}
  form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}


 .btn-submit{

    font-family: 'Poppins',sans-serif;
     text-transform: uppercase;
    letter-spacing: 2px;
    font-size: larger;
     background-color: transparent;
     border: 2px solid black;
     position: relative;
     top: 280px;
     left: -830px;

}


 .btn-submit:hover{
    background-color: #000;
     color: white;
}


 #imgContact{
     position: relative;
     width: 45%;
     height: 50%;
     top: -100px;
     right: 0;
     left: 50%;
 }

 .iconIMG{
     position: absolute;
     left: 700px;
     top: 3070px;
 }

 .iconIMG i{
     gap: 30px;
 }
 .iconIMG .fa-brands{
     color: black;
     width: 20%;

 }




 /*.iconIMg .fa-brands{*/
 /*    position: relative;*/
 /*    top: -350px;*/
 /*    left: 1000px;*/
 /*    color: black;*/
 /*    width: 5%;*/
 /*}*/


/*================================*/


/*=====Main tag font=========*/
@media screen and (min-width: 601px){
    div.content1{
        color: goldenrod;
        text-shadow:10px 10px 10px gray;
        text-align: center;
        font-family: 'Caveat';
        font-size: 45px;
        position: absolute;
        right: 120px;
        top: 20px;

    }

}

@media screen and (max-width: 600px){
    div.content1{
        color: goldenrod;
        font-family: 'Caveat';
        font-size: 20px;
    }
}
/*=====Navigation Bar=========*/

@media screen and (max-width: 700px){
    .Navigation-Bar a:not(:first-child){display: none;}
    .Navigation-Bar a.icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px){
    .Navigation-Bar.responsive {position: relative;}
    .Navigation-Bar.responsive.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .Navigation-Bar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*=====================*/

/*======================*/